/* MiniAppointmentCalendar slot yüksekliğini azaltır */
/* Slot yüksekliği 4 kat daha kısa */
/* MiniAppointmentCalendar slot yüksekliğini artırıldı */
.mini-calendar-custom-slots .rbc-time-slot {
  min-height: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 13px !important;
  padding: 0 !important;
}
.mini-calendar-custom-slots .rbc-timeslot-group {
  min-height: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}
.mini-calendar-custom-slots .rbc-time-content {
  min-height: 0 !important;
  height: auto !important;
}
.mini-calendar-custom-slots .rbc-time-content > * {
  min-height: 0 !important;
}
